{% block body%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Offsight{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/PoznanPage.css') }}" />
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7A9RN0emXJmj7OJjZG3IzxVPGXACcSRs&callback=initMap" type="text/javascript"></script>

    </head>
    <body>
      <div class="InfoBox">
        <div class="HomeIcon">
          <a href="{{path('home')}}"><img src='/img/home.png' /></a>
        </div>
        <div class="ContactIcon">
          <a href="{{path('onas')}}"><img src='/img/contact.png' /></a>
        </div>
      </div>
        <div class="PoznanHeader">
          <a href={{path('home')}}><img src="/img/header.png" class="HeaderImage" /></a>
        </div>
        <div class="PoznanInfo">
          <p class="PoznanParagraph">
            Co?
          </p>
          <p class="PoznanDescription">
            Zapraszamy na pierwszy Offsight - wirtualny turniej piłki nożnej dla firm. Zbierz swoją drużynę (zalecamy od dwóch do czterech osób) i zmierz się z innymi! Wszyscy uczestnicy otrzymają piwo oraz pizzę, podczas całego turnieju grać będzie DJ. Zespoły z pierwszych trzech miejsc otrzymają atrakcyjne nagrody, przewidujemy także nagrody-niespodzianki! Firmy, których przedstawiciele zajmą medalowe miejsca zostaną poproszone o wytypowanie celów charytatywnych, na które organizatorzy przekażą 500 złotych (łącznie 1500 złotych zostanie przekazane na cele charytatywne). Turniej odbywa się w systemie analogicznym do prawdziwych turniejów piłkarskich: najpierw trzy mecze w grupach, a później – faza pucharowa, do której trafi 16 z 32 drużyn.
          </p>
          <p class="PoznanDescription">
            Wstępny harmonogram:<ul>

            <li>18:30 | losowanie</li>
            <li>19:00 | pierwsza kolejka fazy grupowej</li>
            <li>20:00 | druga kolejka fazy grupowej</li>
            <li>21:00 | trzecia kolejka fazy grupowej</li>
            <li>22:00 - 1/8 finału</li>
            <li>22:30 - 1/4 finału</li>
            <li>22:45 - 1/2 finału</li>
            <li>23:00 - mecz o 3. miejsce</li>
            <li>23:15 - finał!</li>
          </ul>
          </p>
          <p class="PoznanDescription">Koszt: 300 złotych netto / zespół</p>
          <button class="RegistrationButton" type="button"><a target="_blank" href="#ContactForm">Zgłoś się</a></button>

        </div>
        <div class="PoznanMap">
          <p class="PoznanParagraphWhere">
            Gdzie?
          </p>

         <div>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1216.95448341497!2d16.92435509811735!3d52.40832605265624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd8b8d15cc295ac5b!2sMalta+Festival+Pozna%C5%84!5e0!3m2!1spl!2spl!4v1502057229892" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        </div>
        <p class="PoznanParagraph">
          Jak się zgłosić?
        </p>
        <div class="FormBox">
          <h1 class="FormHeader">FORMULARZ ZGŁOSZENIOWY</h1>
          <div id="ContactForm">

            {{ form_start(form) }}
            {{ form_widget(form.company, {'attr': {'placeholder': 'Nazwa firmy'} }) }}
            {{ form_widget(form.name, {'attr': {'placeholder': 'Imię i nazwisko osoby kontaktowej'} }) }}
            {{ form_widget(form.phone, {'attr': {'placeholder': 'Telefon osoby kontaktowej'} }) }}
            {{ form_widget(form.email, {'attr': {'placeholder': 'Adres e-mail osoby kontaktowej'} }) }}
            {{ form_widget(form.teams, {'attr': {'placeholder': 'Liczba zgłoszonych zespołów (koszt zgłoszenia jednego zespołu: 300 zł netto)'} }) }}
            {{ form_widget(form.invoice, {'attr': {'placeholder': 'Dane do faktury (nazwa firmy, adres oraz NIP)'} }) }}
            {{ form_widget(form.payment, {'attr': {'placeholder': 'Termin płatności'} }) }}
            {{ form_end(form) }}

          </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>

{% endblock %}
