{% block body%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Offsight{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/WroclawPage.css') }}" />
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7A9RN0emXJmj7OJjZG3IzxVPGXACcSRs&callback=initMap" type="text/javascript"></script>

    </head>
    <body>
      <div class="InfoBox">
        <div class="HomeIcon">
          <a href="{{path('home')}}"><img src='/img/home.png' /></a>
        </div>
        <div class="ContactIcon">
          <a href="{{path('onas')}}"><img src='/img/contact.png' /></a>
        </div>
      </div>
        <div class="WroclawHeader">
          <a href={{path('home')}}><img src="/img/header.png" class="HeaderImage" /></a>
        </div>
        <div class="WroclawInfo">
          <p class="WroclawParagraph">
            Wkrótce więcej informacji
          </p>
          <p class="MoreButtonParagraph">
            <a class="RegistrationButton" href="{{ path('home') }}">Powrót do strony głównej</a>
          </p>
          <p class="WroclawDescription">
          </p>

        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>

{% endblock %}
